// COLORS
$hoverColor: #f76b57;
$buttonOrange: #f76b57;
$sectionBackground: #0d0b0b7e;

$nmBlack: #020202;
$inputBackground: #f0f0f0;
$buttonGreen: #2b5951;
$PrimaryFontColor: #020202;
$buttonBlue: #15425F;

$tag1: #2E1114;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
$primary-font: "Open Sans", sans-serif;
$presentationHead: 'Bebas Neue', cursive;


// FONTSIZE:
$md-font: 1.2rem;
$lg-font: 2.5rem;
$h1: 4.063rem;
$h2: 3rem;
$h3: 2.125rem;
$label-size: 1.563rem;

// spacing
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;

$border-radius: 20px;


/// mixins 
